<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="box">
      <div class="box-header">
        <div class=" col-md-6 col-xs-6">
          <h3 class="box-title">Stores Report
            <%= link_to 'Download PDF', stores_path(format: :pdf), class: 'btn btn-sm btn-success', target: :blank %>
            <%= link_to 'Download others', rails_admin.export_path('store'), class: 'btn btn-sm btn-info', target: :blank %>
            <%= link_to 'See charts', rails_admin.charts_path('store'), class: 'btn btn-sm btn-primary', target: :blank %>
          </h3>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Description</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Tax rate</th>
            <th>Website</th>
          </tr>
          </thead>
          <tbody>
          <% @stores.each_with_index do |store, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= store.name %></td>
              <td><%= store.description %></td>
              <td><%= store.phone %></td>
              <td><%= store.address %></td>
              <td><%= store.tax_rate %><%= '%' %></td>
              <td><%= store.website %></td>
            </tr>
          <% end %>
          </tbody>
          <tfoot>
          <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Description</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Tax rate</th>
            <th>Website</th>
          </tr>
          </tfoot>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
