<%= form_with(model: waiter, local: true) do |form| %>
  <% if waiter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(waiter.errors.count, "error") %> prohibited this waiter from being saved:</h2>

      <ul>
      <% waiter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :name, id: :waiter_first_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address, id: :waiter_address %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :waiter_phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
