<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @waiter.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @waiter.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @waiter.phone %>
</p>

<%= link_to 'Edit', edit_waiter_path(@waiter) %> |
<%= link_to 'Back', waiters_path %>
