<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="box">
      <div class="box-header">
        <div class=" col-md-6 col-xs-6">
          <h3 class="box-title">Customers Report
            <%= link_to 'Download PDF', customers_path(format: :pdf), class: 'btn btn-sm btn-success', target: :blank %>
            <%= link_to 'Download others', rails_admin.export_path('customer'), class: 'btn btn-sm btn-info', target: :blank %>
            <%= link_to 'See charts', rails_admin.charts_path('customer'), class: 'btn btn-sm btn-primary', target: :blank %>
          </h3>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Birthday</th>
            <th>Phone</th>
          </tr>
          </thead>
          <tbody>
          <% @customers.each_with_index do |customer, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= customer.name %></td>
              <td><%= customer.email %></td>
              <td><%= customer.birthday %></td>
              <td><%= customer.phone %></td>
            </tr>
          <% end %>
          </tbody>
          <tfoot>
          <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Birthday</th>
            <th>Phone</th>
          </tr>
          </tfoot>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
