<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="box">
      <div class="box-header">
        <div class=" col-md-6 col-xs-6">
          <h3 class="box-title">Orders Report
            <%= link_to 'Download PDF', orders_path(format: :pdf), class: 'btn btn-sm btn-success', target: :blank %>
            <%= link_to 'Download others', rails_admin.export_path('order'), class: 'btn btn-sm btn-info', target: :blank %>
            <%= link_to 'See charts', rails_admin.charts_path('order'), class: 'btn btn-sm btn-primary', target: :blank %>
          </h3>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>No.</th>
            <th>Sub Total</th>
            <th>Discount</th>
            <th>Net</th>
            <th>Payed</th>
            <th>Payed at</th>
            <th>Customer name</th>
            <th>Customer phone</th>
            <th>Waiter</th>
          </tr>
          </thead>
          <tbody>
          <% @orders.each_with_index do |order, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= '$' %><%= order.brute %></td>
              <td><%= order.discount %><%= '%' %></td>
              <td><%= '$' %><%= order.net %></td>
              <td><%= order.payed %></td>
              <td><%= order.payed_at %></td>
              <td><%= order.customer.name.titleize %></td>
              <td><%= order.customer.phone %></td>
              <td><%= order.waiter.name.titleize %></td>
            </tr>
          <% end %>

          </tbody>
          <tfoot>
          <tr>
            <th>Order no.</th>
            <th>Sub Total</th>
            <th>Discount</th>
            <th>Net</th>
            <th>Payed</th>
            <th>Payed at</th>
            <th>Customer name</th>
            <th>Customer phone</th>
            <th>Waiter</th>
          </tr>
          </tfoot>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->