<p id="notice"><%= notice %></p>

<p>
  <strong>Discount:</strong>
  <%= @order.discount %>
</p>

<p>
  <strong>Net:</strong>
  <%= @order.net %>
</p>

<p>
  <strong>Payed:</strong>
  <%= @order.payed %>
</p>

<p>
  <strong>Payed at:</strong>
  <%= @order.payed_at %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer.name unless @order.customer.nil? %>
</p>

<p>
  <strong>Waiter:</strong>
  <%= @order.waiter.name unless @order.waiter.nil? %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
