<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to app_name, root_url, class: 'navbar-brand' %>
    </div>

    <% if user_signed_in? %>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", root_url %></li>
          <% if current_user.admin? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Reports <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to :categories.to_s.titleize, categories_path %></li>
                <li><%= link_to :customers.to_s.titleize, customers_path %></li>
                <li><%= link_to :orders.to_s.titleize, orders_path %></li>
                <li><%= link_to :products.to_s.titleize, products_path %></li>
                <li><%= link_to :stores.to_s.titleize, stores_path %></li>
                <li><%= link_to :tables.to_s.titleize, tables_path %></li>
                <li><%= link_to :waiters.to_s.titleize, waiters_path %></li>
              </ul>
            </li>
          <% end %>
        </ul>


        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Admin", rails_admin.dashboard_path, 'data-no-turbolink': true %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= current_user.name %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
            </ul>
          </li>
        </ul>
      </div>
    <% end %>
    <!--/.nav-collapse -->
  </div>
</nav>
<br/><br/><br/><br/>