<!DOCTYPE html>
<html>
<head>
  <title><%= app_name %></title>
  <%= csrf_meta_tags %>
  <!--Reset CSS-->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true %>
</head>
<body>

<%= render "layouts/header" %>
<%= render 'shared/flash_notice'  %>
<div class="container">
    <%= yield %>
</div>

<!-- javascript start -->
<%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
<!-- javascript end -->

</body>
</html>